/* Fuente : https://www.freecodecamp.org/news/html-page-width-height/ */

/* OBS Custom CSS: body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; opacity:0.9;} */

body {
    width: 600px;
    height: 240px;    
        
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin: 0;
    overflow: hidden;
    opacity:0.9;
    /* border-style: solid; */
    
}

div {
    /* border-style: solid; */    
    background: rgb(0, 0, 0);
    color: white;    
}

#divTaskListHeader{
    height: 30px;    
    padding-left: 30px;
}

#divTaskList {
    width: 600px;
    height: 180px;
    position:relative;
    padding-left: 30px;
}

#divAvatarImg{
    /* background-color: white; */
    vertical-align: bottom;
    z-index: 1; /* Poner DIV al fondo */
}

#divAvatarName{
    /* background-color: pink; */
    vertical-align: top;
    z-index: 1; /* Poner DIV al fondo */
}

#divEmotes{
    z-index: 1; /* Poner DIV al fondo */
}

#divSo {
    z-index: 1; /* Poner DIV al fondo */
}

img#emoteId {
    height: 180px;
    width: 180px;
}

/* Para mostrar divSo */
.textstyle {
    background-color: rgb(156, 0, 0);
    color: white;
    /* Changing background color */
    font-weight: bold;
    /* Making font bold */
    border-radius: 20px;
    /* Making border radius */
    width: auto;
    /* Making auto-sizable width */
    height: auto;
    /* Making auto-sizable height */
    padding: 5px 30px 5px 30px;
    /* Making space around letters */
    font-size: 18px;
    /* Changing font size */
}

.container {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    position: relative;
    display: inline !important;
}

li {
    height: 40px;    
}

.circular--square {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.parent_div {
    position: relative
}

.child_div {
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 0%;
    right: 0%;
    text-align: center;
}
